* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-gray: #4F5665;
  --text-dark: #0B132A;
  --text-white: #FFFFFF;
  --green: #1EC15F;
  --red: #D00000;
  --green-dark: #00A700;
  --blue: #2948FF;
  --black: #3C3C3C;
}

body {
  font-family: 'Montserrat', sans-serif;
}

/* typography */

.heading-large {
  font-weight: 500;
  font-size: min(max(32px, calc(2rem + ((1vw - 3.75px) * 3.0047))), 64px);
  min-height: 0vw;
  line-height: 1;
  letter-spacing: 0%;
  text-align: center;
  color: var(--text-white)
}

.heading-medium--large--dark {
  font-weight: 500;
  font-size: 36px;
  line-height: 1;
  color: var(--text-dark)
}

.heading-medium {
  font-weight: 400;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 0%;
  color: var(--text-gray);
}

.heading-medium--semibold {
  font-weight: 500;
  color: var(--text-dark)
}

.heading-small {
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: -0.06px;
  color: var(--text-gray);
}

.heading-small--semibold {
  font-weight: 500;
  color: var(--text-dark);
}

.body-large--bold {
  font-weight: 700;
  font-size: 18px;
  line-height: 1;
  color: var(--text-dark)
}

.body-large--bold--blue {
  color: var(--blue);
}

.body-large--bold--white {
  color: var(--text-white)
}

.body-large--bold--green--dark {
  color: var(--green-dark)
}

.body-medium {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.06px;
  color: var(--text-gray);
}

.body-medium--white {
  color: var(--text-white);
}

.body-medium--blue {
  color: var(--blue);
}

.body-medium--bold {
  font-weight: 600;
  color: var(--text-dark);
}

.body-medium--bold-green {
  font-weight: 600;
  line-height: 1;
  letter-spacing: 0;
  text-align: right;
  color: var(--green);
}

.body-medium--bold-red {
  font-weight: 600;
  line-height: 1;
  letter-spacing: 0;
  text-align: right;
  color: var(--red);
}

.body-medium--semibold--dark {
  font-weight: 500;
  color: var(--text-dark)
}

.body-medium--semibold {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  ;
  text-align: center;
  color: #FFFFFF;
}

.body-medium--semibold--blue {
  color: var(--blue);
}

.body-medium--semibold--red {
  color: var(--red);
}

.body-small {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.06px;
  color: var(--text-gray);
}

.body-small--white {
  color: var(--text-white)
}

.body-small--red {
  color: var(--red)
}

.body-small--green {
  color: var(--green)
}

.body-small--semibold {
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0;
  color: var(--text-dark);
}

.body-small--semibold--white {
  font-weight: 500;
  color: var(--text-white)
}

.body-small--semibold--blue {
  font-weight: 500;
  color: #3969FD;
}

.body-small--bold {
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0;
  color: var(--text-dark)
}


.caption-medium {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0;
  text-align: right;
  color: var(--text-gray);
}

.caption-medium--white {
  color: var(--text-white)
}

.caption-medium--green {
  color: var(--green-dark);
}

.caption-medium--red {
  color: var(--red);
}

.caption-small {
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: -0.06px;
  color: var(--blue);
}

.heading-jakarta-sans {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 500;
  font-size: 48px;
  line-height: 1;
  color: var(--text-white);
}

.body-medium-jakarta-sans {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  color: var(--text-white)
}

.body-small-jakarta-sans {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: var(--text-white)
}

.quote {
  font-size: 48px;
  line-height: 59px;
  font-weight: 700;
  color: #FFFFFF;
}

.logo-body--medium,
.logo-body--large {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 1;
  color: var(--text-white)
}

.logo-body--large {
  font-size: 36px;
}

/* button */

.btn-submit {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 45px;
  padding: 4px 12px 4px 8px;
  gap: 8px;
  border-radius: 6px;
  background-color: var(--blue);
  text-decoration: none;
  text-align: center;
  border: none;
}

.button-primary,
.button-secondary,
.button-danger,
.cta-landing {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 45px;
  padding: 4px 12px 4px 8px;
  gap: 8px;
  border-radius: 6px;
  background-color: var(--blue);
  text-decoration: none;
  text-align: center;
  border: 1px solid #FFFFFF;
}

.button-primary:hover {
  cursor: pointer;
  background-color: #0026ff;
}

.button-secondary {
  background-color: #FFFFFF;
  border: 1px solid var(--blue);
}

.button-secondary:hover {
  cursor: pointer;
  background-color: #eeeeee;
}

.button-danger {
  background-color: #FFFFFF;
  border: 1px solid #D00000;
}

.button-danger:hover {
  cursor: pointer;
  background-color: #d0000010;
}

.link-button {
  text-decoration: none;
}

.cta-landing {
  padding: 10px;
  gap: 10px;
}

.button-container {
  width: 165px;
}

/* input */
.input-row {
  width: 100%;
  height: 44px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 14px 13px;
  background-color: #FCFDFE;
  border: 1px solid #DEDEDE;
  border-radius: 8px;
}


input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"] {
  border: none;
  width: 100%;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"]:focus {
  outline: none;
}

input::placeholder {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.06px;
  color: var(--text-gray);
  border: none
}


/* navbar */
.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* max-width: 1440px; */
  height: 76px;
  padding: 0 24px 0 44px;
  border-bottom: 1px solid #E8E8E8;
}

.landingnav {
  background-color: #2948FF;
  padding: 0 130px;
  border: none;
}


.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.logo img {
  width: 32px;
  height: 32px;
}

.logo span {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #FFFFFF;
  text-align: center;
}


.menu-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 22px;
  position: relative;
  width: 205px;
}

.hamburger {
  display: none;
}

.hero-page {
  /* max-width: 1440px; */
  background-color: var(--blue);
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 36px 130px;
  padding-bottom: 0px;
  margin-bottom: 36px;

}

.hero-page-headline-and-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 24px;
}

.hero-content {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  /* gap: 164px; */
  padding-bottom: 0px;
  flex-wrap: wrap;
  gap: min(max(16px, calc(1rem + ((1vw - 7.68px) * 22.0238))), 164px);
  min-height: 0vw;
}

.hero-image {
  margin: -23px;
  max-width: 422px;
  max-height: 443px;
  width: 100%;
  height: auto;
}

.hero-description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 25px;
  max-width: 476px;
  width: 100%;
}

.download-app-container {
  display: flex;
  flex-direction: row;
  gap: 25px;
  width: 100%;
  height: 50px;
}

.total-user {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

/* values section */


.values {
  /* max-width: 1440px; */
   display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* padding: 36px; */
  margin-top: 20px;
  gap: 12px;
}


.values-grid {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 56px;
  max-width: 1180px;
  width: 100%;
  padding: 36px;
}


.value-item {
  display: flex;
  align-items: center;
  gap: 9px;
  width: 100%;
  height: 89px;
}

.value-item>div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 7px;
}

.value-item img {
  width: 58px;
  height: 58px;
  background: #2948FF;
  border-radius: 50%;
  padding: 13px;
}

.value-item p {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
}

/* solution */

.solution {
  /* max-width: 1440px;*/
  /* height: 405px; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 36px;
  /* padding-top: 0px; */
}

.solution-content {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
}

.welcome {
  max-width: 480px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 25px;
}

.tag {
  display: inline-block;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  color: #2948FF;
  margin-bottom: 10px;
}

.welcome p {
  margin-bottom: 25px;
  line-height: 25px;
  width: 480px;
  height: 125px;
}

.welcome-img {
  max-width: 608px;
  max-height: 465px;
  width: 100%;
  height: auto;
}

.features {
  /* max-width: 1440px; */
  /* height: 405px; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* padding: 36px; */
  padding-top: 0px;
  background-color: #E8E8E84D;
}

.features-content {
  max-width: 100%;
  /* height: 405px; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 36px;
  padding-top: 0px;
  gap: 25px;
  flex-wrap: wrap;
}

.features-img {
  max-width: 453px;
  max-height: 453px;
  width: 100%;
  height: auto;
}

.features-text {
  display: flex;
  flex-direction: column;
  gap: 25px;
  max-width: 580px;
}

.feature-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.feature-list {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

/* partners
 */
.partners {
  padding: 36px;
  /* max-width: 1440px; */
}

.partners-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.partners-text {
  display: flex;
  flex-direction: column;
  max-width: 480px;
  justify-content: center;
  gap: 25px;
}


.partner-logos {
  display: flex;
  flex-direction: row;
  /* max-width: 667px; */
  gap: 19px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.partner-logos img {
  /* width: 100%; */
}

/* testimonial */

.testimonial {
  display: flex;
  flex-direction: column;
  /* max-width: 1440px; */
  gap: 40px;
  padding: 36px
}

.testimonial-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.testimonial-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  max-width: 100%;
}

.testimonial-card {
  background-color: var(--blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 707px;
  width: 100%;
  background-color: var(--blue);
  max-height: 380px;
  height: 100%;
  border-radius: 16px;
  padding: 40px 20px 67px 20px;
  gap: 19px;
  text-align: center;
}

.arrows:hover{
  cursor: pointer;
}

.slider-icon {
  display: none;
}

/* download cta section */

.download-cta {
  width: 100%;
  background-color: #E8E8E84D;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-evenly;
  padding: 36px;
  flex-wrap: wrap;
}

.download-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  gap: 25px;
  max-width: 580px;
  width: 100%;
}


/* footer */
footer {
  background-color: var(--blue);
  padding: 36px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;

}

.footer-logo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 264px;
  width: 100%;
  gap: 23px
}

.footer-contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 23px
}


.contact-item-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 11px
}

.contact-item{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 11px;
}

.footer-social {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.social-icons {
  display: flex;
  flex-direction: row;
  gap: 18px;
}

.footer-newsletter {
  display: flex;
  flex-direction: column;
  gap: 18px;
  max-width: 275px;
  width: 100%;
}

.newsletter-input {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.footer-divider {
  border: 1px solid #FFFFFF;
  width: 100%;
  margin: 36px 0 12px 0;
}


@media (max-width: 988px) {

  .values{
    flex-direction: column;
  }
  .values-grid{
    flex-direction: column;
  }

  .value-item {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .value-item > div {
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .solution-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .welcome {
    max-width: 100%;
  }

  .welcome > span:nth-child(2){
    font-size:  32px;
  }

  .features-text > span:nth-child(1){
    font-size: 32px;
  }

  .footer-content {
    flex-direction: column;
  }
}

@media (max-width: 786px) {

  .menu-top {
    display: none;
  }

  .hamburger {
    display: flex;
    cursor: pointer;
  }

  .menu-top {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: var(--text-white);
    padding: 20px 24px;
    z-index: 10;
    gap: 18px;
    border-radius: 0px 0px 20px 20px;
    /* border: 1px solid var(--text-white); */
    box-shadow: 2px var(--text-white);
  }

  .menu-top.active {
    display: flex;
  }


  .menu-top > .button-primary, .menu-top > .button-secondary {
    border: none;
    background-color: var(--text-white);
  }

  

  .menu-top > .button-primary > span,  .menu-top > .button-secondary > span {
    color: var(--blue)
  }

  .menu-top a {
    display: block;
    width: 100%;
    padding: 10px 15px;
    text-align: center;
    font-size: 16px;
    text-decoration: none;
  }

  .menu-top > .button-primary:hover, .menu-top > .button-secondary:hover {
    border: 1px solid var(--blue);
    background-color: transparent;
  }

  .landingnav {
    justify-content:space-between;
    padding: 20px;
    border-bottom: 1px solid var(--text-white);
  }

  .hero-page {
    flex-direction: column;
    justify-content: space-between;
    padding: 36px 24px;
    padding-bottom: 0px;
    margin-bottom: 36px;
  }

  .total-user{
    gap: 12px
  }
  .total-user > span:nth-child(1){
    font-size: 32px;
  }

  .values-grid {
    gap: 80px;
  }

  .partner-logos {
    flex-direction: column;
  }

  .testimonial {
    align-items: center;
  }

  .testimonial-header {
    text-align: center;
  }

  .testimonial-card {
    /* width: 335px; */
    height: 380px;
    /* padding: 0; */
    gap: 10px;
  }

  .arrows {
    display: none;
  }


  .slider-icon {
    display: flex;
    max-width: 76px;
  }

  .download-cta {
    gap: 55px
  }

  .footer-content {
    gap: 36px
  }

}




@media (max-width: 375px){
  .landingnav{
    /* display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start; */
    padding: 20px;
  }

  .hero-page {
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 36px 24px;
    padding-bottom: 0px;
    margin-bottom: 36px;
  }

  .hero-page-headline-and-content {
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
  }

  .heading-large {
    text-align: left;
  }

}