* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: #2948FF;
    height: 100vh;
}

h2 {
    color: #0B132A;
    font-weight: 500;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 0%;
}

p {
    color: #4F5665;
    font-weight: 400;
    font-size: 16px;
    line-height: 166%;
    letter-spacing: 0%;
}

main {
    display: flex;
    justify-content: space-between;
    height: 100vh;
}

.container-left {
    background-color: #FFFFFF;
    padding: 60px;
    width: 50%;
    height: 100%;
    border-radius: 0 60px 60px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-left-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* max-width: 562px; */
    gap: 13px
}

.container-right {
    background-color: #2948FF;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-right img {
    width: 100%;
    height: auto;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    /* margin-bottom: 40px; */
}

.logo img {
    height: 32px;
    width: 32px;
}

.logo span {
    color: #2948FF;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
}

.social-buttons {
    display: flex;
    flex-direction: column;
    gap: 13px;
}

button {
    background-color: #FFFFFF;
    border: 1px solid #E8E8E8;
    width: 100%;
    height: 51px;
    border-radius: 100px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

button img {
    width: 24px;
    height: 24px;
}

button span {
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0.5%;
    text-align: center;
    color: #4F5665;
}

button:hover {
    background-color: #00000007;
    cursor: pointer;
}

.divider {
    color: #AAAAAA;
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0.5%;
    position: relative;
    text-align: center;
}

.divider::before,
.divider::after {
    content: '';
    position: absolute;
    top: 50%;
    width: 45%;
    height: 1px;
    background: #DEDEDE;
}

.divider::before {
    left: 0;
}

.divider::after {
    right: 0;
}

form {
    display: flex;
    flex-direction: column;
    gap: 13px;
}

input {
    border-radius: 8px;
    border: 1px solid #DEDEDE;
    padding: 14px 13px;
    width: 100%;
}

label {
    margin-bottom: -32px;
}

label span {
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #0B132A;
}

.password-container {
    position: relative;
}

input[type="email"],
input[type="password"] {
    background-color: #FFFFFF;
    padding: 14px 36px;
}

.show-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
}

input[type="email"] {
    background-image: url('../src/emailicon.png');
    background-position: 14px 13px; 
    background-repeat: no-repeat;
    background-size: 16px;
}

input[type="password"] {
    background-image: url('../src/passwordicon.png');
    background-position: 14px 13px; 
    background-repeat: no-repeat;
    background-size: 16px;
}

.btn-register {
    margin-top: 12px;
    border-radius: 6px;
    padding: 10px;
    background: #2948FF;
    border: none;
}

.btn-register span {
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
}

.btn-register:hover {
    background-color: #1435ee;
}

.login-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: #4F5665;
    margin-top: 20px;
}

.login-link a {
    color: #2948FF;
    text-decoration: none;
}

@media (max-width: 768px) {
    main {
        flex-direction: column;
    }
    .container-left,
    .container-right {
        width: 100%;
    }
    .container-left {
        border-radius: 0;
        padding: 30px;
    }
    .container-right {
        padding: 30px;
    }
    .container-right {
        display: none;
    }
    body {
        background-color: #FFFFFF;
    }
}