* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-gray: #4F5665;
    --text-dark: #0B132A;
    --text-white: #FFFFFF;
    --green: #1EC15F;
    --red: #D00000;
    --green-dark: #00A700;
    --blue: #2948FF;
}

body {
    font-family: 'Montserrat', sans-serif;
    /* height: 100vh; */
    /* width: 100%; */
}

/* typography */
.body-medium {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.06px;
    color: var(--text-gray);
}

.body-medium--white {
    color: var(--text-white);
}

.body-medium--bold {
    font-weight: 600;
    color: var(--text-dark);
}

.body-medium--bold-green {
    font-weight: 600;
    line-height: 1;
    letter-spacing: 0;
    text-align: right;
    color: var(--green);
}

.body-medium--bold-red {
    font-weight: 600;
    line-height: 1; 
    letter-spacing: 0;
    text-align: right;
    color: var(--red);
}

.body-small {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.06px;
    color: var(--text-gray);
}

.body-small--red{
    color: var(--red)
}

.body-small--semibold {
    font-weight: 500;
    line-height: 1; /* 100% */
    letter-spacing: 0;
    color: var(--text-dark);
}

.heading-medium {
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: -0.06px;
    color: var(--text-dark);
}

.caption-medium {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0;
    text-align: right;
    color: var(--text-gray);
}

.caption-medium--green {
    color: var(--green-dark);
}

.caption-medium--red {
    color: var(--red);
}

.caption-small {
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: -0.06px;
    color: var(--blue);
}

/* navbar */

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 76px;
    padding: 0 24px 0 44px;
    border-bottom: 1px solid #E8E8E8;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.logo img {
    width: 32px;
    height: 32px;
}

.logo span {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #2948FF;
    text-align: center;
}

.menu-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 22px;
}

.openprofile {
    display: inline-block;
    width: 48px;
    height: 48px;
    line-height: 0;
}

.profileWizard {
    width: 48px;
    height: 48px;
}

.dropdown {
    width: 24px;
    height: 24px;
}


/* main container */

.main-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

/* side bar */

.container-left{
    width: 262px;
    height: 948px;
    top: 76px;
    left: -1px;
    border-right-width: 1px;
    padding-top: 24px;
    padding-right: 42px;
    padding-bottom: 24px;
    padding-left: 42px;
    gap: 15px;
    border-right: 1px solid #E8E8E8;
}

.menu-left{
    display: flex;
    flex-direction: column;
    gap: 16px
}

.menu-active {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 208px;
    height: 45px;
    padding-top: 4px;
    padding-right: 12px;
    padding-bottom: 4px;
    padding-left: 8px;
    gap: 8px;
    border-radius: 6px;
    background-color: var(--blue);
    text-decoration: none;
}


.menu-inactive {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 208px;
    height: 45px;
    border-left-width: 4px;
    padding-top: 4px;
    padding-right: 12px;
    padding-bottom: 4px;
    padding-left: 8px;
    gap: 8px;
    border-radius: 6px;
    border-radius: 6px;
    text-decoration: none;

}

/* main content */

.container-right{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    justify-content: center;
    gap: 20px;
}

.container-analytics {
    background-color: white;
    height: fit-content;
    width: 700px;
    gap: 18px;
    display: flex;
    flex-direction: column;
}


.big-number {
    background-color: white;
    height: 147px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.small-card {
    width: 222px;
    height: 147px;
    border-radius: 6px;
    border-width: 1px;
    border: 1px solid #E8E8E8;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.small-card-child {
    width: 192px;
    height: 112px;
    gap: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.small-card-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 11px;
}

.small-card-caption {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 4px;
}

.container-fast-service {
    width: 700px;
    height: 81px;
    border: 1px solid #E8E8E8;
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.fast-service {
    width: 670px;
    height: 45px;
    gap: 279px;  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}


.button-active {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 109px;
    height: 45px;
    padding: 4px 12px 4px 8px;
    gap: 8px;
    border-radius: 6px;
    background-color: #2948FF;
    text-decoration: none;
}


.chart {
    background-color: white;
    height: 574px;
    width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    border: 1px solid #E8E8E8;
    border-radius: 6px;
}

.chart-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 670px;
    height: 45px;
}

.filter-container {
    display: flex;
    flex-direction: row;
    gap: 15px
}

.filter {
    width: 113px;
    height: 35px;
    gap: 10px;
    border-radius: 6px;
    padding: 10px;
    background: #F1F1F1;
    display: flex;
    align-items: center;
    justify-content: center;

}

.filter-btn {
    width: 93px;
    height: 15px;
    gap: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* right section */

.container-transaction {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 341px;
    height: 843px;
    border: 1px solid #E8E8E8;
    border-radius: 6px;
    border-radius: 6px;
    gap: 30px;
    padding: 20px 18px;
}

.transaction-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 310px;

}

.card-user {
    background-color: white;
    width: 310px;
    height: 56px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px
}

.usernameandstatus {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100px;
    height: 51px;
}



