* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-gray: #4F5665;
    --text-dark: #0B132A;
    --text-white: #FFFFFF;
    --green: #1EC15F;
    --red: #D00000;
    --green-dark: #00A700;
    --blue: #2948FF;
}

body {
    font-family: 'Montserrat', sans-serif;
    /* background: #2948FF; */
    /* height: 100vh; */
}

/* typography */
.body-medium {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.06px;
    color: var(--text-gray);
}

.body-medium--white {
    color: var(--text-white);
}

.body-medium--bold {
    font-weight: 600;
    color: var(--text-dark);
}

.body-medium--bold-green {
    font-weight: 600;
    line-height: 1;
    letter-spacing: 0;
    text-align: right;
    color: var(--green);
}

.body-medium--bold-red {
    font-weight: 600;
    line-height: 1; 
    letter-spacing: 0;
    text-align: right;
    color: var(--red);
}

.body-small {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.06px;
    color: var(--text-gray);
}

.body-small--red{
    color: var(--red)
}

.body-small--semibold {
    font-weight: 500;
    line-height: 1; /* 100% */
    letter-spacing: 0;
    color: var(--text-dark);
}

.heading-medium {
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: -0.06px;
    color: var(--text-dark);
}

.caption-medium {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0;
    text-align: right;
    color: var(--text-gray);
}

.caption-medium--green {
    color: var(--green-dark);
}

.caption-medium--red {
    color: var(--red);
}

.caption-small {
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: -0.06px;
    color: var(--blue);
}

/* navbar */

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 76px;
    padding: 0 79px 0 44px;
    border-bottom: 1px solid #E8E8E8;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.logo img {
    width: 32px;
    height: 32px;
}

.logo span {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #2948FF;
    text-align: center;
}

.menu-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 22px;
}

.openprofile {
    display: inline-block;
    width: 48px;
    height: 48px;
    line-height: 0;
}

.profileWizard {
    width: 48px;
    height: 48px;
}

.dropdown {
    width: 24px;
    height: 24px;
}


.container-left{
    width: 262px;
    height: 948px;
    top: 76px;
    left: -1px;
    border-right-width: 1px;
    padding-top: 24px;
    padding-right: 42px;
    padding-bottom: 24px;
    padding-left: 42px;
    gap: 15px;
    border-right: 1px solid #E8E8E8;
}

.menu-left{
    display: flex;
    flex-direction: column;
    gap: 16px
}

.menu-active {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 208px;
    height: 45px;
    padding-top: 4px;
    padding-right: 12px;
    padding-bottom: 4px;
    padding-left: 8px;
    gap: 8px;
    border-radius: 6px;
    background-color: var(--blue);
    text-decoration: none;

}


.menu-inactive {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 208px;
    height: 45px;
    border-left-width: 4px;
    padding-top: 4px;
    padding-right: 12px;
    padding-bottom: 4px;
    padding-left: 8px;
    gap: 8px;
    border-radius: 6px;
    border-radius: 6px;
    text-decoration: none;

}