* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: #2948FF;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h2 {
    color: #0B132A;
    font-weight: 500;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 0%;
}

p {
    color: #4F5665;
    font-weight: 400;
    font-size: 16px;
    line-height: 166%;
    letter-spacing: 0%;
}

.container-left {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    width: 550px;
    height: 466px;
}

.container-left-child {
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    height: 32px;
    width: 32px;
}

.logo span {
    color: #2948FF;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
}

form {
    display: flex;
    flex-direction: column;
    gap: 13px;
    width: 100%;
}

input {
    border-radius: 8px;
    border: 1px solid #DEDEDE;
    padding: 14px 13px;
}

label {
    margin-bottom: -32px;
}

label span {
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #0B132A;
}

input[type="email"],
input[type="password"] {
    background-color: #FFFFFF;
    padding: 14px 36px;
}


input[type="email"] {
    background-image: url('../src/emailicon.png');
    background-position: 14px 13px; 
    background-repeat: no-repeat;
    background-size: 16px;
}

.btn-register {
    margin-top: 12px;
    border-radius: 6px;
    padding: 10px;
    background: #2948FF;
    border: none;
}

.btn-register span {
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
}

.btn-register:hover {
    background-color: #1435ee;
    cursor: pointer;
}



@media (max-width: 768px) {
    .container-left {
        width: 355px;
        height: 380px;
        padding: 30px;
    }

    .container-left h2 {
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    }
}